In [5]:
import pandas as pd
df_clothes = pd.DataFrame(data = [['green','M',10,'shirt'],
                                  ['red','L',60,'sweatshirt'],
                                  ['black','M',120,'shoes']])
df_clothes.columns = ['color','size','price','type']
df_clothes

   color size  price        type
0  green    M     10       shirt
1    red    L     60  sweatshirt
2  black    M    120       shoes

In [6]:
#can convert categorical values to numerical
# size is ordinal, so it can be easily encoded
size_map = {'S':1,'M':2,'L':3}
df_clothes['size'] = df_clothes['size'].map(size_map)
df_clothes

   color  size  price        type
0  green     2     10       shirt
1    red     3     60  sweatshirt
2  black     2    120       shoes

In [10]:
#nominal values 
# pip install scikit-learn
from sklearn.preprocessing import LabelEncoder
class_labels = LabelEncoder()
df_clothes['types'] = class_labels.fit_transform(df_clothes['type'].values)
df_clothes

   color  size  price        type  types
0  green     2     10       shirt      0
1    red     3     60  sweatshirt      2
2  black     2    120       shoes      1

In [9]:
%pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Downloading scikit_learn-1.4.0-1-cp39-cp39-macosx_12_0_arm64.whl (10.7 MB)
     |████████████████████████████████| 10.7 MB 2.2 MB/s eta 0:00:01
Requirement already satisfied: numpy<2.0,>=1.19.5 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.26.3)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.3.0-py3-none-any.whl (17 kB)
Collecting joblib>=1.2.0
  Using cached joblib-1.3.2-py3-none-any.whl (302 kB)
Requirement already satisfied: scipy>=1.6.0 in /Users/lex/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.12.0)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.4.0 threadpoolctl-3.3.0
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [11]:
# one hot encoding - easiest way
# this wont work if you have data that is already numerical
df_clothes = pd.get_dummies(df_clothes[['color','size','price']])
df_clothes

   size  price  color_black  color_green  color_red
0     2     10        False         True      False
1     3     60        False        False       True
2     2    120         True        False      False